* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: rgb(34, 34, 34);
  height: 100%;
}

.box-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.xjbox {
  background-color: rgb(226, 164, 195);
  width: 400px;
  height: 400px;
  border-radius: 30px;
  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation-name: spin;
  animation-duration: 0.9s;
  animation-timing-function: ease; */
  transform-origin: top left;
  animation: corner 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  z-index: 2;
}


.spinny {
  animation: spin 1s !important;
}


#xj {
  font-size: 250px;
  font-family: 'Source Code Pro', monospace;
  cursor: pointer;
  
}

#clickme {
  margin-top: 80px;
  color: rgb(202, 202, 202);
  opacity: 0%;
  font-size: 40px;
  animation-name: text-appear;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: .7s;
}

.sidepanel {
  height: 100%;
  background-color: rgb(53, 53, 53);
  width: 86px;
  position: fixed;
  top: 0px;
  animation: appear 1s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0%;
  display: flex;
  justify-content: center;
}

.mason-cont {
  width: 80%; 
  margin: 20px auto;
  z-index: 1;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  column-count: 3;
  column-gap: 10px;
}

.tile {
  background-color: rgb(83, 83, 83);
  opacity: 0%;
  border-radius: 20px;
  animation: appear 1s;
  /* animation-delay: 2.5s;  */
  animation-fill-mode: forwards;
  height: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%
}


.tile-title {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 40px;
}

hr {
  align-self: center;
}

@media only screen and (min-width: 2000px) {
  .tile {
    margin: 40px;
  }
}

#about-me {
  background-color: rgb(179, 179, 56);
  height: 400px;
}

#work-experience {
  background-color: rgb(57, 57, 82);
}

#research {
  background-color: teal;
}

#leadership {
  background-color: tomato;
}

#education {
  background-color: honeydew;
}

#awards {

}

#skills {
  background-color:yellowgreen;
}

.icons-cont {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  height: 200px;
  width: auto;
  justify-content: space-between;
}

@keyframes spin {
  0% {transform:rotate(0deg);}

  100% {transform:rotate(360deg);}
}

@keyframes text-appear {
  0% {opacity: 0%}
  100% {opacity: 100%}
}

@keyframes shake-small {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  10% { transform: translate(0px, 0px) rotate(0deg); }
  19% { transform: translate(0px, 0px) rotate(0deg); }
  20% { transform: translate(-1px, 1px) rotate(1deg); }
  21% { transform: translate(1px, -1px) rotate(-1deg); }
  30% { transform: translate(0px, 0px) rotate(0deg); }
  40% { transform: translate(0px, 0px) rotate(0deg); }
  50% { transform: translate(0px, 0px) rotate(0deg); }
  60% { transform: translate(0px, 0px) rotate(0deg); }
  61% { transform: translate(-1px, -2px) rotate(-2deg); }
  62% { transform: translate(1px, 2px) rotate(2deg); }
  70% { transform: translate(0px, 0px) rotate(0deg); }
  80% { transform: translate(0px, 0px) rotate(0deg); }
  90% { transform: translate(0px, 0px) rotate(0deg); }
  91% { transform: translate(3px, 1px) rotate(-2deg); }
  92% { transform: translate(-3px, -1px) rotate(2deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes corner {
  0% {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
  100% {position: fixed; top: 30px; left: 15px; transform: scale(0.14);}
}

@keyframes appear {
  from {opacity: 0%}
  to {opacity: 100%}
}